---
// src/components/Comments.astro
---

<div id="giscus-container" class="mt-8 w-full"></div>

<script src="https://giscus.app/client.js"
        data-repo="RadiumCoffee63/Goombablog-Astro"
        data-repo-id="R_kgDOTGKFGg"
        data-category="Announcements"
        data-category-id="DIC_kwDOTGKFGs4DAd10"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>