---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import DownloadManager from "@components/DownloadManager.astro"; 

const downloadsPost = await getEntry("spec", "guides");

const { Content } = await render(downloadsPost);
---
<MainGridLayout title="下载" description="下载">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>

            <DownloadManager />
        </div>
    </div>
</MainGridLayout>